<% if user_signed_in? %>
<div class="admin-menu">
  <ul>
    <li><%= link_to "Categories", admin_categories_url -%></li>
    <li><%= link_to "Quizzes", admin_quizzes_url -%></li>
    <li><%= link_to "Seeders", admin_seeders_url -%></li>
    <li><%= link_to "Testimonials", admin_testimonials_url -%></li>
    <li><%= link_to "Posts", admin_posts_url -%></li>
  </ul>
  <div style="float:right;">
    <% if facebook_logged_in? %>
      <%= link_to('Logout', facebook_logout_path, :class => "logout-link") -%>
    <% else %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "logout-link") -%>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<% end %>
