<div class="footer-content-left">
  <div class="footer-menu-item"><%= link_to "ABOUT US", about_url -%></div>
  <div class="footer-menu-item"><%= link_to "FAQ", faq_url -%></div>
  <div class="footer-menu-item"><%= link_to "CONTACT US", contactus_url -%></div>
  <div class="footer-menu-item"><%= link_to "TERMS & CONDITIONS", terms_url -%></div>
  <div class="footer-menu-item"><%= link_to "PRIVACY POLICY", policy_url -%></div>
  <div class="footer-menu-item"><%= link_to "BLOG", posts_url -%></div>
  <div class="footer-menu-item"><%= f_logo_link -%></div>
</div>
